template(name='session_player_choose')
    h3 Table ##{session.number}
    form
        label Your name:
            input.input_size_big.session_player_choose__name-choose(type='text' name='name')

template(name='session')
    h3 Table ##{session.number}

    label Send url to other players:
        input#url(type='text' value='{{urlFor "session_player_choose" number=session.number}}')
        button.session__copy-url-btn(data-clipboard-target="#url") 📋
        br
        if isOpen
            button.session__clear-cards-btn New round
        else
            button.session__show-cards-btn Show cards


    div.session__players-list
        div.session__players-list
            each players
                div.session-player(class='{{#if online}}{{else}}session-player_status_offline{{/if}}')
                    div.session-player__name #{name}
                    if currentCard
                        div.card-container
                            div.card(data-value='#{currentCard}' class='{{#if itIsYou }}card_flipped_yes card_yours_yes{{/if}}')
                                div.card__content_side_front.card__content #{currentCard}
                                div.card__content_side_back.card__content

        div.session-player-cards
            each session.cards
                div.card-container
                    div.card(data-value='#{this}')
                        div.card__content #{this}




